<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Assigment 6</title>
	<h1>Arda Saridogan</h1>
	
	<hr> 
</head>
<body>
	
	<p>
		<%= data %>
	</p>
	
	<h2>Enter 3 ID's to update</h2>

            
            <form  action="/" method="POST">
              <div>
        
		        <label for="idone">ID 1</label>
		        <input type="text" name="idone">
		        
		      	</div>

		      	<div>
        
		        <label for="idtwo">ID 2</label>
		        <input type="text" name="idtwo">
		        
		      	</div>

		      	<div>
        
		        <label for="idtri">ID 3</label>
		        <input type="text" name="idtri">
		        
		      	</div>
      		<button id="change">Change it!</button>
            </form>
  
	
</body>
</html>
